<div class="profile--details" *ngIf="profile$ | async; else loader">

  <header >
    <div class="profile--info">
      <h1 *ngIf="profile">
        <span>Profile:</span>
        <img src="{{profile.photo}}"/>
        <span>{{profile.first_name}} {{profile.last_name}}</span>
      </h1>
    </div>
  </header>

  <div class="wrapper wrapper--profile" *ngIf="profile">
    <app-quick-facts class="profile--card"></app-quick-facts>
    <app-tabs class="profile--tabs" [profileData]="profile"></app-tabs>    
  </div>

  <div class="wrapper" *ngIf="!profile">
    <mat-card class="profile--card text-center">
      We couldn't find the profile you are looking for.
      Navigate back and select a different profile.
    </mat-card>
  </div>
</div>

<ng-template #loader>
  <div class="wrapper wrapper--loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
