:host {
  @import '../../../variables.scss';

  .profile {
    &--info {
      display: flex;
      background-color: #03a9f4;
      padding: 40px 20px 60px;

      h1 {
        display: flex;
        justify-content: space-between;
      }

      img,
      span {
        display: inline-block;
      }
      img {
        margin: -20px 10px 0;        
      }
    }

    &--details {}

    &--card {
      flex: 0 0 245px;
    }
    
    &--tabs {
      flex: 1;
    }
  }

  .wrapper--profile {
    display: flex;
    margin-top: -68px;
    justify-content: space-between;
  }
 
}