<div class="profile--details">
    <header >
      <div class="profile--info">
      </div>
    </header>
  
    <div class="wrapper">
      <mat-card class="profile--card text-center">
          <h2>404</h2>
        Oooopsss something went wrong!<br/>
        <a href="/">go back</a>
      </mat-card>
    </div>
  </div>
  
  <ng-template #loader>
    <div class="wrapper wrapper--loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  