<div class="wrapper" *ngIf="profiles$ | async as profile; else loader">

  <table mat-table [dataSource]="paginatedData" 
    class="mat-elevation-z3" 
    matSort matSortActive="localid"
    *ngIf="!showNoResults"
    (matSortChange)="sortData($event)">

    <!-- Photos Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let row"> <img src="{{row.photo}}" /> </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="localid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="localid"> Local ID </th>
      <td mat-cell *matCellDef="let row"> {{row.localid}} </td>
    </ng-container>

    <!-- Email Address Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email Address </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="first_name"> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.first_name}} {{row.last_name}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="phone"> Phone Number </th>
      <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="address"> Address </th>
      <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>

    <!-- modified Column -->
    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="modified" disableClear>
        Modified
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.modified | date }} </td>
    </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let row" style="text-align: center; cursor: pointer;">
        <img src="../../../assets/arrow.svg" width="20"/>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
  </table>

  <div *ngIf="showNoResults" class="noResults">
    <mat-card class="profile--card">{{noResults}}</mat-card>
  </div>

  <mat-paginator 
    [length]="profile.length" 
    [pageSizeOptions]="[10, 25, 100]" 
    showFirstLastButtons
    class="mat-elevation-z3">
  </mat-paginator>
</div>

<ng-template #loader>
  <div class="wrapper wrapper--loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>


