:host {
  .photoItems {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    .photo-item {
      margin: 0;
    }

    table, 
    .mat-paginator {
      width: 100%;
    }
  }

  th {
    cursor: pointer;
  }  
}
