<mat-card class="profile--card quick-facts">
    <h4 class="quick-facts--title">Quick Facts</h4>

    <div class="quick-facts--box-title">
        Status
    </div>
    <hr/>
    <div class="quick-facts--box">
        <ul class="list-box ico ico--person">
            <li>ID:</li>
            <li>Tier: gold</li>
            <li>Pts: 124,12</li>
        </ul>
    </div>

    <div class="quick-facts--box-title">
        Top 3 Facts
    </div>
    <hr/>
    <div class="quick-facts--box">
       <ul class="list-box ico ico--warn">
            <li>Suite Room</li>
            <li>King Bed</li>
            <li>Highest floor</li>
        </ul>
    </div>

    <div class="quick-facts--box-title">
        RFM Score
    </div>
    <hr />
    <div class="quick-facts--box">
        <ul class="list-box list-box--inline">
            <li><img src="../../../assets/progress.svg" width="30"></li>
            <li>R: 70%</li>
            <li>F: 50%</li>
            <li>M: 90%</li>
        </ul>
    </div>

    <div class="quick-facts--box-title">
        Ohter Facts
    </div>
    <hr />
    <div class="quick-facts--box">
        <ul class="list-box">
            <li class="ico ico--cal">
                Total Stays: <span>24</span>
            </li>
            <li class="ico ico--night">
                Nights: <span>43</span>
            </li>
            <li class="ico ico--bed">
                Avg. Stay: <span>1.33 nights</span>
            </li>
            <li class="ico ico--exit">
                Last Visit: <span>2020-02-03</span>
            </li>
            <li class="ico ico--cash">
                Lifetime value: <span>$2403.3</span>
            </li>
        </ul>
    </div>
</mat-card>