:host {
  @import '../../../variables.scss';
  
  display: block;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 22px;
    }
  }

  hr {
    border: 1px solid $border-color;
    margin: 8px 0 14px 0;
  }

  .quick-facts {
    color: $color-black;

    &--box-title {
      background: url('../../../assets/share.svg') no-repeat right center;
      cursor: pointer;
    }

    &--box {
      margin-top: 14px;
      margin-bottom: 24px;
    }

    &--title {
      font-size: 18px;
      color: $headig-color;
    }
  }  

  .ico {
    background-repeat: no-repeat;
    background-position: left 2px;
    background-size: 20px;
    padding-left: 30px;

    &--cal {
      background-image: url('../../../assets/cal.svg');
    }
    &--night {
      background-image: url('../../../assets/night.svg');
    }
    &--bed {
      background-image: url('../../../assets/bed.svg');
    }
    &--exit {
      background-image: url('../../../assets/exit.svg');
    }
    &--cash {
      background-image: url('../../../assets/money.svg');
    }
    &--person {
      background-image: url('../../../assets/account.svg');
    }
    &--warn {
      background-image: url('../../../assets/warn.svg');
    }
  }

  .list-box {
    span {
      font-weight: bold;
      display: inline-block;
      float: right;
    }

    .ico {
      background-size: 24px;
      padding-left: 34px;
      line-height: 28px;
    }

    &--inline {
      display: flex;
      justify-content: space-between;
    }
  }
}