:host {
    @import '../../../variables.scss';

    display: block;
    margin-left: 30px;

  .profile {
    &--wrapper {
      background-color: $color-white;
      border: 1px solid $border-color;
      padding: 14px;
    }
  }

  .table--holder {
    background: #fafafa;
    border: 1px solid #e2e2e2;
    padding: 14px;
  }

  table {
    background-color: $color-white;
    border-radius: 6px;
    td {
      line-height: 40px;
      border-bottom: 1px solid $border-color;
      padding: 0 14px;

      &:nth-child(2) {
        font-weight: bold;
      }
    }
  }
  .white-bcg {
    background-color: $color-white !important;
    padding: 14px;
    border-radius: 6px;
  }
}