<mat-tab-group mat-align-tabs="left" class="profile--tabs" [color]="'accent'">
    <!-- 1 -->
    <mat-tab label="Profile Detail">
      <mat-card class="profile--card mat-elevation-z4">
        <div class="profile--wrapper mat-elevation-z4">
          <div class="table--holder">
            <h2>Profile Detail</h2>
            <div class="mat-elevation-z4">
              <table  class="mat-elevation-z2">
                <tr>
                  <td>Prefix</td>
                  <td>{{profileData.prefix}}</td>
                </tr>
                <tr>
                  <td>First Name</td>
                  <td>{{profileData.first_name}}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{profileData.last_name}}</td>
                </tr>
                <tr>
                  <td>Suffix</td>
                  <td>{{profileData.suffix || '-'}}</td>
                </tr>
                <tr>
                  <td>Loyalty Member ID</td>
                  <td>{{profileData.loyalty_member_id}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{profileData.phone}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>{{profileData.address}}</td>
                </tr>
                <tr>
                  <td>Birthdate</td>
                  <td>{{profileData.birthdate | date}}</td>
                </tr>
                <tr>
                  <td>Language Preferences</td>
                  <td>English</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-tab>

    <!-- 2 -->
    <mat-tab label="Profile ID's">
        <mat-card class="profile--card">
          <div class="profile--wrapper mat-elevation-z4">
            <div class="table--holder">
              <h2>Profile ID's</h2>
              <div class="mat-elevation-z2 white-bcg">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  remaining essentially unchanged. It was popularised in the 1960s with the release of 
                  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                  software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              </div>
            </div>
          </div>
        </mat-card>
    </mat-tab>

    <!-- 3 -->
    <mat-tab label="Activity Timeline">
        <mat-card class="profile--card">
          <div class="profile--wrapper mat-elevation-z4">
            <div class="table--holder">
              <h2>Activity Timeline</h2>
              <div class="mat-elevation-z2 white-bcg">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  remaining essentially unchanged. It was popularised in the 1960s with the release of 
                  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                  software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              </div>
            </div>
          </div>
        </mat-card>
    </mat-tab>

  </mat-tab-group>