<input type="text" (keyup)="applyFilter($event)" placeholder="Search profiles" [formControl]="profiles" class="mat-elevation-z2">
<button (click)="searchProfiles()" class="btn btn--search"></button>
<div *ngIf="profiles.errors && profiles.errors.invalidQuery" class="error-msg">
    {{errorMsg}}
</div>