:host {
  @import '../../../variables.scss';

  display: flex;
  max-height: 50px;

  span {
    display: block;
  }

  input {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 20px 20px 20px 55px;
    font-size: 1em;
    flex: 1;
    background: url('../../../assets/search.svg') no-repeat 20px 8px;
    background-color: #fff;
    color: $base-color;
    outline: none;
  }

  .btn--search {
    border-radius: 0;
    padding: 11px;
    position: relative;
    margin: 0;
    margin-left: 20px;
    border: none;
    background: url('../../../assets/search.svg') no-repeat 20px -27px;
    background-color: #2076a2;
    cursor: pointer;
    width: 76px;
    height: 50px;
    border-radius: 2px;

    &:hover {
      background-color: #15648d;
    }
  }
  .error-msg {
    color: red;
    display: block;
  }
}