@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: $base-color; }

.container {
  height: 100%;
}
.wrapper {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}
table { width: 100%; }

header {
  background: $header-color;
  color: $color-white;
  div {
    padding: 40px 20px;
    max-width: 960px;
    margin: 0 auto;
  }
}
.wrapper--loader {
  margin: 0 auto;
  max-width: 100px;
  margin-top: 100px;
}

.mat-tab-label {
  color: $color-white !important;
}

.text-center {
  text-align: center;
}

img {
  border-radius: 25%; 
}